<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Sign in</title>
</head>
<body>
<div class="main">
    <div sec:authorize="isAuthenticated()">
        <h1>Hklsldflsdf</h1>
    </div>
    <p class="sign" align="center">Sign in</p>
    <div th:if="${param.error}">
        Invalid Username and Password
    </div>
    <form class="form1" th:action="@{/auth/login}" method="post">
        <input class="un " name="username" type="text" align="center" placeholder="Username">
        <input class="pass" name="password" type="password" align="center" placeholder="Password">
        <input class="pass" name="remember" type="checkbox" align="center">
        <button type="submit" class="submit" align="center">Login</button>
    </form>
</div>
</body>
</html>